.section-profs {
  overflow: hidden;
  padding-bottom: var(--gap);

  p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  .prof {
    &-name {
      margin-top: 15px;
      @include interpolate(font-size, sm, xxl,14px, 26px);
      font-weight: 200;
    }

    &-ex-position {
      @include interpolate(font-size, sm, xxl,14px, 26px);
      font-weight: 500;
    }

    &-position {
      @include interpolate(letter-spacing, sm, xxl,-.1px, -.6px);
      @include interpolate(font-size, sm, xxl,14px, 26px);
    }
  }
}
