.section {
  &-tiles {
    .ratio {
      overflow: hidden;
    }

    .row {
      mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, $black 200px, $black calc(100% - 200px), rgba(0, 0, 0, 0) 100%);
    }

    .tile {
      position: absolute;
      left: 15px;
      bottom: 15px;
      z-index: 5;
      pointer-events: none;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }

      &-title {
        @include interpolate(font-size, sm, xxl,18px, 32px);
        font-weight: 700;
        pointer-events: none;
        margin: 0;
        line-height: 1.2;
      }

      &-excerpt {
        @include interpolate(font-size, sm, xxl,16px, 22px);
        font-weight: 100;
        pointer-events: none;
        margin-bottom: 10px;
        line-height: 1.2;
      }

      &-link {
        @extend .fs;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0);
        will-change: background-color;
        transition: .2s background-color ease-in-out;

        &:hover {
          background-color: rgba(0, 0, 0, .3);

          &~.tile-bg{
            transform: scale(1.1);
            transition: 7s transform cubic-bezier(.35,.8,.54,1.01);
          }
        }
      }

      &-bg {
        @extend .bg-cover;
        @extend .fs;
        z-index: 1;
        will-change: transform;
        transition: .3s transform ease-in;
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 0%, $black 17.5%, $black 100%);
      }
    }
  }
}
