.section-hero {
  min-height: 70vh;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    min-height: 50vh;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    pointer-events: none;
    height: 100%;
    z-index: 2;
  }

  &:before {
    left: 0;
    width: 80%;
    background: linear-gradient(to right, black 20%, transparent 100%), linear-gradient(to right, black 0%, transparent 100%);

    @include media-breakpoint-down(sm) {
      width: 100%;
      top: auto;
      bottom: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 1) 0, transparent 50%);
    }
  }

  &:after {
    right: 0;
    width: 10%;
    background: linear-gradient(to left, rgba(0, 0, 0, .5) 3%, transparent 100%);

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .background {
    @extend .fs;
    top: 0;
    left: 15%;

    @include media-breakpoint-down(sm) {
      left: 0;
    }

    &.active {
      .poster {
        opacity: 1;
      }

      video {
        opacity: 0;
      }
    }

    .poster {
      @extend .fs;
      top: 0;
      left: 0;
      opacity: 0;
      will-change: opacity;
      transition: .3s opacity ease-in-out;
    }

    video {
      @extend .fs;
      object-fit: cover;
      object-position: center;
      background-color: $black;
      top: 0;
      left: 0;
      opacity: 1;
      will-change: opacity;
      transition: .3s opacity ease-in-out;
    }
  }

  .btn-play {
    position: absolute;
    left: 56.25%;
    top: 50%;
    transform: translate(-100%, -100%);
    opacity: 1;
    z-index: 2;
    will-change: opacity;
    transition: .3s opacity ease-in-out;

    @include media-breakpoint-down(sm) {
      position: relative;
      margin-top: 30px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      transform: none;
      left: auto;
      top: auto;
    }
  }

  p {
    margin: .5em 0 1em;
    line-height: 1.2;
    @include interpolate(font-size, sm, xxl, 14px, 24px);
  }

  .section {
    &-inner {
      position: absolute;
      bottom: 0;
      left: 0;
      height: auto;
      max-width: 50%;
      z-index: 5;
      padding-top: 120px;
      padding-right: 15px;
      @include interpolate(padding-bottom, sm, xxl, 30px, 150px);
      padding-left: 10%;

      @include media-breakpoint-down(sm) {
        max-width: 100%;
        position: relative;
        pointer-events: none;
        padding-left: 15px;

        & > * {
          pointer-events: auto;
        }
      }
    }

    &-title {
      @include interpolate(font-size, sm, xxl, 24px, 52px);
      font-weight: 700;
      margin: .5em 0;
      line-height: 1.2;
      border: none;
      font-family: $raleway;
      padding: 0;

      & + .section-subtitle {
        margin-top: -.75em;
      }
    }

    &-subtitle {
      @include interpolate(font-size, sm, xxl, 18px, 34px);
      font-weight: 700;
      margin: .25em 0 .25em;
    }
  }
}
