$fa-font-path: '../fonts';

@import '~normalize.css/normalize.css';
@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";
@import './base';
@import './media';
@import './fonts';

// custom styles

html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;

  & > *{
    width: 100%;
  }
}

header{
  height: 200px;
  overflow: hidden;
}

main{
  flex-grow: 1;
}

a {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;

  img {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
  }
}
